allow fsck block_device:blk_file { read };
allow fsck block_device:blk_file { open };
allow fsck block_device:blk_file { write };
allow fsck block_device:blk_file { ioctl };
